params {
    publish_dir_mode    = "copy"
    trace_report_suffix = new Date().format("yyyy-MM-dd_HH-mm-ss")
}

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
}

docker {
    enabled    = true
    runOptions = '-u $(id -u):$(id -g)'
}

process {
    shell = [
        "bash",
        "-C",
        "-e",
        "-u",
        "-o",
        "pipefail",
    ]
}
