executor.name = "local"
process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h',
    ]
}

workDir = "testdata/work"
params {
    susie_dir    = "testdata/susie"
    sumstats_dir = "testdata/sumstats"
    output_dir   = "testdata/output"
    metadata     = "https://raw.githubusercontent.com/eQTL-Catalogue/eQTL-Catalogue-resources/refs/heads/master/data_tables/dataset_metadata_upcoming.tsv"
}


timeline {
    enabled = true
    file    = "${params.output_dir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.output_dir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.output_dir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "${params.output_dir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}

process {
    withLabel: regular {
        container  = 'ghcr.io/project-defiant/qtlformer:0.3.2'
        cpus       = 4
        memory     = '4g'
        time       = "10m"
        maxRetries = 1
    }
}
