executor.name = "local"
process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h',
    ]
}

workDir = "testdata/work"
params {
    input_dir  = "testdata/input"
    output_dir = "testdata/output"
}


timeline {
    enabled = true
    file    = "${params.output_dir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.output_dir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.output_dir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "${params.output_dir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}

process {
    withLabel: regular {
        container  = 'ghcr.io/project-defiant/qtlformer:0.2.4'
        cpus       = 4
        memory     = '4g'
        time       = "10m"
        maxRetries = 1
    }
}
